<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <title>Hello world</title>

  <script>
    window.maplocation = [45.219961, 39.222988]
  </script>

  <script type="module" src="/js/index.ts"></script>
  <script type="module" src="/js/components/index.ts"></script>
</head>

<body>

  <header class="flex items-center py-5 bg-l3 shadow-lg">
    <include src="/html-includes/logo.html" />



    <div class="flex gap-4 ml-auto">
      <c-menu class="group">
        <c-menu-button class="btn btn-primary btn-sm  gap-2">
          <span class="text-default">Menu item</span>
          <c-icon class="icon text-xs group-data-[active]:-rotate-90" href="img/icons.svg#to-right"></c-icon>
        </c-menu-button>
        <c-menu-items class="p-2 flex flex-col gap-1" placement="bottom-end">
          <% for(let i = 0; i < 3; i++) { %>
          <c-menu-item>
            <button class="btn btn-primary btn-sm  w-full">
              <span class="text-default">Menu item</span>
            </button>
          </c-menu-item>
          <% } %>
        </c-menu-items>
      </c-menu>
    </div>
  </header>