<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <title>Hello world</title>

  <script>
    window.maplocation = [45.219961, 39.222988]
  </script>

  <script type="module" src="/js/index.ts"></script>
  <script type="module" src="/js/components/index.ts"></script>
</head>

<body>

  <header class="flex items-center py-5 bg-l3 shadow-lg">
    <load src="/html-includes/logo.html" />

    <div class="flex gap-4 ml-auto">
      <% for(let i = 0; i < 3; i++) { %>
      <button class="btn btn-primary btn-sm rounded-lg">
        <span class="text-default">Menu item</span>
      </button>
      <% } %>
    </div>
  </header>