<%= require('./html-includes/header.html')() %>

<header class="header">
  <button class="btn btn-text lg:hidden" data-toggle-link="menu">
    <c-icon class="icon text-2.5xl" href="img/icons.svg#menu"></c-icon>
  </button>
  <div class="header-logo mr-auto max-lg:w-32">
    <img src="/img/logo.svg" alt="">
  </div>
  <a href="javascript:;" class="hover-underline btn btn-text">
    <span class="font-bold text-lg lg:text-2xl font-alt">8 928 232 01 11</span>
  </a>
  <a href="javascript:;" class="hover-underline btn btn-text gap-2 max-lg:hidden">
    <c-icon class="icon text-sm" href="/img/icons.svg#whatsapp"></c-icon>
    <span class="font-medium text-xl">Написать в WhatsApp</span>
  </a>
  <button class="btn btn-contur btn-primary btn-sm max-sm:hidden" data-fancybox-modal data-src="/dialog-form.html">
    <span class="font-medium uppercase">Отправить заявку</span>
  </button>
</header>

<div class="menu" id="menu">
  <div class="flex items-center p-4 gap-4">
    <button class="btn btn-text" data-toggle-link="menu">
      <c-icon class="icon text-2.5xl" href="img/icons.svg#cross"></c-icon>
    </button>
    <div class="header-logo mr-auto max-lg:w-32">
      <img src="/img/logo.svg" alt="">
    </div>
    <a href="javascript:;" class="hover-underline btn btn-text">
      <span class="font-bold text-lg lg:text-2xl font-alt">8 928 232 01 11</span>
    </a>
  </div>
  <div class="py-8">
    <a href="javascript:;" class="btn btn-primary px-4 w-full justify-start">
      <span class="font-alt text-1.5xl">Мы продюсируем</span>
    </a>
    <a href="javascript:;" class="btn btn-primary px-4 w-full justify-start">
      <span class="font-alt text-1.5xl">Наша «упаковка»</span>
    </a>
    <a href="javascript:;" class="btn btn-primary px-4 w-full justify-start">
      <span class="font-alt text-1.5xl">Наши клиенты</span>
    </a>
    <a href="javascript:;" class="btn btn-primary px-4 w-full justify-start">
      <span class="font-alt text-1.5xl">Наши проекты</span>
    </a>
  </div>
  <div class="p-4 mt-auto">
    <a href="javascript:;" class="hover-underline btn btn-text justify-start">
      <span class="font-bold text-3.5xl font-alt">8 928 232 01 11</span>
    </a>

    <a href="javascript:;" class="hover-underline btn btn-text gap-2 mt-12 justify-start">
      <c-icon class="icon text-sm" href="/img/icons.svg#whatsapp"></c-icon>
      <span class="font-medium text-2xl">Написать в WhatsApp</span>
    </a>
    <button class="btn btn-contur btn-primary w-full mt-12">
      <span class="font-medium uppercase">Отправить заявку</span>
    </button>
  </div>
</div>
<div class="menu-shadow"></div>

<section class="started">
  <div class="started-circle started-circle-1"></div>
  <div class="started-circle started-circle-2"></div>

  <div class="started-content mr-auto">
    <div class="started-title" data-animation="fadeInUp">
      ENERGELICA <br>
      PRODUCTION
    </div>
    <div class="mt-4 lg:mt-8 font-alt font-semibold sm:text-2xl" data-animation="fadeInUp" data-delay="0.025">
      Создаем имидж для компаний, <br>
      брендов и личностей
    </div>
    <div class="mt-12 lg:mt-15" data-animation="fadeInUp">
      <button class="btn btn-primary btn-fill px-10" data-fancybox-modal data-src="/dialog-form.html" data-delay="0.05">
        <span class="font-medium uppercase text-lg">Оставить заявку</span>
      </button>
    </div>

    <div class="started-plate max-lg:hidden" data-animation="fadeInUp" data-delay="0.075">
      У вас не будет <span class="text-orange">второго</span> шанса <br>
      произвести <span class="text-orange">первое</span> впечатление
    </div>
  </div>
  <div class="ml-auto max-lg:w-full" data-animation="fadeInRight" data-delay="0.05">
    <div class="hover3d-wrap lg:p-52 lg:-m-52">
      <div class="started-image ratio ratio-1/1  hover3d-target">
        <div class="started-image-rectangle"></div>
        <img src="/img/started-dude.png" alt="" class="started-image-dude hover3d-up">

        <div class="started-image-particle started-image-particle-1 hover3d-up">
          <img src="/img/started-particle-1.png" alt="" class="hover3d-up">
        </div>
        <div class="started-image-particle started-image-particle-2 hover3d-up">
          <img src="/img/started-particle-2.png" alt="" class="hover3d-up">
        </div>
        <div class="started-image-particle started-image-particle-3 hover3d-up">
          <img src="/img/started-particle-3.png" alt="" class="hover3d-up">
        </div>
        <div class="started-image-particle started-image-particle-4 hover3d-up">
          <img src="/img/started-particle-4.png" alt="" class="hover3d-up">
        </div>
      </div>
    </div>
  </div>

  <div class="started-plate lg:hidden" data-animation="fadeInUp">
    У вас не будет <span class="text-orange">второго</span> шанса <br>
    произвести <span class="text-orange">первое</span> впечатление
  </div>
</section>

<section class="products overflow-hidden">
  <div class="title sm:text-center mb-6 sm:mb-15" data-animation="fadeInUp">
    Мы продюсируем
  </div>

  <div class="products-slider swiper -mx-2 sm:-mx-3.5 max-sm:overflow-visible" data-animation="fadeInUp">
    <div class="swiper-wrapper">
      <% for(let i = 0; i < 3; i++) { %>
      <div class="swiper-slide w-80 sm:w-8/12 lg:w-1/3 px-2 sm:px-3.5 ">
        <div class="products-item">
          <div class="products-item-image ratio ratio-[594/380]">
            <img src="/img/test.gif" alt="" class="absolute-fit object-cover">
          </div>
          <div class="products-item-content">
            <div class="sm:px-8 grow">
              <div class="font-alt text-2xl sm:text-3.5xl font-semibold uppercase mb-4 sm:mb-6">Дизайн</div>
              <ul class="pl-5 list-disc sm:text-1.5xl opacity-60 space-y-3">
                <li>Нейминг и концепция бренда</li>
                <li>Лого и фирменный стиль</li>
                <li>Сайты и лендинги</li>
                <li>Упаковка социальных сетей</li>
                <li>Motion дизайн</li>
              </ul>
            </div>
            <a href="/#project" data-scroll class="btn btn-contur btn-primary w-full mt-8 sm:mt-16">
              <span class="font-medium uppercase text-lg">СМОТЕРТЬ ПРОЕКТЫ</span>
            </a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    new Swiper('.products-slider', {
      slidesPerView: 'auto'
    })
  })
</script>


<section class="pack">
  <div class="title sm:text-center mb-6 sm:mb-15" data-animation="fadeInUp">
    Наша «упаковка»
  </div>
  <div class="grid md:grid-cols-3 lg:grid-cols-5 gap-2 sm:gap-6">
    <% for(let i = 0; i < 5; i++) { %>
    <div class="pack-item" data-animation="fadeInUp">
      <img src="/img/pack/<%= i + 1 %>.svg" alt="" class="size-14 md:size-16  block">
      <div class="text-1.5xl xl:text-2.5xl font-medium !leading-tight">
        Выгодно выделяет
        Вас среди конкурентов
      </div>
    </div>
    <% } %>
  </div>
</section>

<section class="client">
  <div class="title sm:text-center mb-6 sm:mb-15" data-animation="fadeInUp">
    Наши клиенты
  </div>
  <div class="grid md:grid-cols-2 gap-2 sm:gap-10">
    <% for(let i = 0; i < 2; i++) { %>
    <div class="client-item" data-animation="fadeInUp">
      <div class="ratio ratio-[900/550]">
        <img src="/img/test.gif" alt="" class="absolute-fit object-cover">
        <div class="client-item-shadow"></div>
      </div>
      <div class="absolute bottom-0 h-24 sm:h-36 w-full">
        <div class="text-center text-1.5xl sm:text-2xl md:text-3.5xl font-medium">
          Артисты, предприниматели, эксперты
        </div>
      </div>
    </div>
    <% } %>
  </div>
</section>

<section class="project overflow-hidden" id="project">
  <div class="title sm:text-center mb-6 sm:mb-15">
    Наши проекты
  </div>

  <div class="project-slider swiper max-lg:-mx-2 max-lg:overflow-visible" data-animation="fadeInUp">
    <div class="swiper-wrapper">
      <% for(let i = 0; i < 8; i++) { %>
      <div class="swiper-slide w-80 sm:w-1/2 lg:w-auto max-lg:px-2">
        <div class="project-item group">
          <div class="project-item-image">
            <div class="relative">
              <img src="/img/project/<%= i + 1 %>.png" alt="" class="transition-opacity duration-300 group-hover:opacity-0">
              <img src="/img/project/<%= i + 1 %>-color.png" alt="" class="absolute-fit transition-opacity duration-300 opacity-0 group-hover:opacity-100">
            </div>
          </div>
          <div class="project-item-title">
            «Геленджик Гольф Резорт»
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    new Swiper('.project-slider', {
      slidesPerView: 'auto'
    })
  })
</script>

<section class="pray">
  <img src="/img/pray.jpg" alt="" class="pray-image select-none" data-animation="fadeInLeft">
  <div class="pray-form" data-animation="fadeInUp">
    <div class="title">
      Оставьте заявку
    </div>
    <div class="font-alt font-semibold text-lg sm:text-1.5xl">
      и получите консультацию по вашему проекту
    </div>

    <div class="mt-10 flex flex-col gap-6 sm:gap-10">
      <div class="relative">
        <input type="tel" class="input w-full pl-14 text-lg sm:text-1.5xl font-medium" placeholder="Ваш телефон">
        <c-icon class="icon absolute left-4 top-1/2 -translate-y-1/2 text-2xl" href="img/icons.svg#phone"></c-icon>
      </div>
      <div class="relative">
        <input type="text" class="input w-full pl-14 text-lg sm:text-1.5xl font-medium" placeholder="Ваше имя">
        <c-icon class="icon absolute left-4 top-1/2 -translate-y-1/2 text-2xl" href="img/icons.svg#user"></c-icon>
      </div>
    </div>

    <button class="btn btn-contur btn-primary mt-14">
      <span class="font-medium uppercase text-lg">отправить </span>
    </button>
    <div class="mt-6">
      <a href="/dialog-policy.html" data-fancybox-modal class="text-xs sm:text-sm font-alt opacity-40 hover:underline !leading-tight">
        Отправляя форму, Вы даете согласие на обработку Ваших персональных данных
      </a>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="footer-logo md:mr-auto">
    <img src="/img/logo.svg" alt="">
  </div>

  <a href="javascript:;" class="hover-underline btn btn-text">
    <span class="font-bold text-lg lg:text-2xl font-alt">info@energelica.ru</span>
  </a>
  <div class="flex items-center md:ml-14">
    <div class="flex gap-2">
      <a href="javascript:;" class="btn btn-light btn-primary rounded-lg btn-icon btn-sm">
        <c-icon class="icon" href="img/icons.svg#whatsapp"></c-icon>
      </a>
      <a href="javascript:;" class="btn btn-light btn-primary rounded-lg btn-icon btn-sm">
        <c-icon class="icon" href="img/icons.svg#telegram"></c-icon>
      </a>
    </div>
    <a href="javascript:;" class="hover-underline btn btn-text ml-6">
      <span class="font-bold text-lg lg:text-2xl font-alt">8 928 232 01 11</span>
    </a>
  </div>
</footer>

<footer class="footer-dev">
  <a href="javascript:;" class="flex items-center gap-5">
    <div class="font-alt">Разработка:</div>
    <img src="/img/stdkit.svg" alt="">
  </a>
  <div class="font-alt font-semibold">© 2024</div>
</footer>

<%= require('./html-includes/footer.html')() %>