<include src="/html-includes/header.html" />

<section class="started">
  <div class="started-content">
    <div class="started-title">
      ENERGELICA <br>
      PRODUCTION
    </div>
    <div class="mt-8 font-alt font-semibold">
      Создаем имидж для компаний, <br>
      брендов и личностей
    </div>
    <div class="mt-15">
      <button class="btn btn-primary btn-fill px-10">
        <span class="font-medium uppercase text-lg">Оставить заявку</span>
      </button>
    </div>

    <div class="started-plate">
      У вас не будет <span class="text-orange">второго</span> шанса <br>
      произвести <span class="text-orange">первое</span> впечатление
    </div>
  </div>
  <div class="hover3d-wrap ml-auto p-52 -m-52">
    <div class="started-image ratio ratio-1/1  hover3d-target">
      <div class="started-image-rectangle"></div>
      <img src="/img/started-dude.png" alt="" class="started-image-dude hover3d-up">

      <div class="started-image-particle started-image-particle-1 hover3d-up">
        <img src="/img/started-particle-1.png" alt="" class="hover3d-up">
      </div>
      <div class="started-image-particle started-image-particle-2 hover3d-up">
        <img src="/img/started-particle-2.png" alt="" class="hover3d-up">
      </div>
      <div class="started-image-particle started-image-particle-3 hover3d-up">
        <img src="/img/started-particle-3.png" alt="" class="hover3d-up">
      </div>
      <div class="started-image-particle started-image-particle-4 hover3d-up">
        <img src="/img/started-particle-4.png" alt="" class="hover3d-up">
      </div>
    </div>
  </div>
</section>

<section class="products">
  <div class="title text-center mb-15">
    Мы продюсируем
  </div>

  <div class="products-slider swiper -mx-3.5">
    <div class="swiper-wrapper">
      <% for(let i = 0; i < 3; i++) { %>
      <div class="swiper-slide w-1/3 px-3.5">
        <div class="products-item">
          <div class="products-item-image ratio ratio-[594/380]">
            <img src="/img/test.gif" alt="" class="absolute-fit object-cover">
          </div>
          <div class="products-item-content">
            <div class="px-8 grow">
              <div class="font-alt text-3.5xl font-semibold uppercase mb-6">Дизайн</div>
              <ul class="pl-5 list-disc text-1.5xl opacity-60 space-y-3">
                <li>Нейминг и концепция бренда</li>
                <li>Лого и фирменный стиль</li>
                <li>Сайты и лендинги</li>
                <li>Упаковка социальных сетей</li>
                <li>Motion дизайн</li>
              </ul>
            </div>
            <button class="btn btn-contur btn-primary w-full mt-16">
              <span class="font-medium uppercase text-lg">СМОТЕРТЬ ПРОЕКТЫ</span>
            </button>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>


<section class="pack">
  <div class="title text-center mb-15">
    Наша «упаковка»
  </div>
  <div class="grid grid-cols-5 gap-6">
    <% for(let i = 0; i < 5; i++) { %>
    <div class="pack-item">
      <img src="/img/pack/<%= i + 1 %>.svg" alt="" class="size-16 mb-12 block">
      <div class="text-2.5xl font-medium !leading-tight">
        Выгодно выделяет
        Вас среди конкурентов
      </div>
    </div>
    <% } %>
  </div>
</section>

<section class="client">
  <div class="title text-center mb-15">
    Наши клиенты
  </div>
  <div class="grid grid-cols-2 gap-10">
    <% for(let i = 0; i < 2; i++) { %>
    <div class="client-item">
      <div class="ratio ratio-[900/550]">
        <img src="/img/test.gif" alt="" class="absolute-fit object-cover">
        <div class="client-item-shadow"></div>
      </div>
      <div class="absolute bottom-0 h-36 w-full">
        <div class="text-center text-3.5xl font-semibold">
          Артисты, предприниматели, эксперты
        </div>
      </div>
    </div>
    <% } %>
  </div>
</section>

<section class="project">
  <div class="title text-center mb-15">
    Наши проекты
  </div>

  <div class="grid grid-cols-4 gap-6">
    <% for(let i = 0; i < 8; i++) { %>
    <div class="project-item">
      <div class="project-item-image"></div>
      <div class="project-item-title">
        «Геленджик Гольф Резорт»
      </div>
    </div>
    <div class="project-item">
      <div class="project-item-image"></div>
      <div class="project-item-title">
        Строительная компания <br>
        «Стройкреатор»
      </div>
    </div>
    <% } %>
  </div>
</section>

<include src="/html-includes/footer.html" />