@import 'functions';

:root {
  /* theme colors */
  --primary-rgb : #{cl(#fff)};
  --orange-rgb  : #{cl(#E29384)};
  --purple-rgb  : #{cl(#3E2D3F)};
  --blue-rgb    : #{cl(#2173E5)};
  --red-rgb     : #{cl(#c0392b)};
  --green-rgb   : #{cl(#27ae60)};
  --yellow-rgb  : #{cl(#FECB29)};

  /* colors */
  --bg1-rgb     : #{cl(#151515)};
  --bg2-rgb     : #{cl(#1D1D1D)};
  --bg3-rgb     : #{cl(#1D1D1D)};
  --default-rgb : #{cl(#fff)};
  --white-rgb   : #{cl(#fff)};
  --black-rgb   : #{cl(#000)};


  /* easing */
  --elastic: cubic-bezier(0.34, 2, 0.64, 1);
}



body {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  background    : theme('colors.l1');
  font-family   : theme('fontFamily.base');
  color         : theme('colors.default');

  &.menu-opened {
    overflow: hidden;
  }
}

@media (hover) {
  // temp

  .btn-white:hover,
  .btn-white:is(.btn-group:hover .btn),
  .btn-white:is(.btn-peer:hover~.btn) {
    --tw-btn-color: #fff;
  }
}

@layer components {
  .active-enabled:not(:is(:is(.toggle-active, .tab-active, .active) .active-enabled)) {
    display: none !important;
  }

  .active-disabled:is(:is(.toggle-active, .tab-active, .active) .active-disabled) {
    display: none !important;
  }

  .is-active-disabled:is(.toggle-active, .active) {
    display: none;
  }

  .is-active-enabled:not(:is(.toggle-active, .active)) {
    display: none;
  }

  .absolute-fit {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }

  .hover-underline {
    position: relative;

    &::before {
      content   : '';
      position  : absolute;
      top       : 100%;
      height    : 2px;
      left      : 0;
      width     : 100%;
      background: theme('colors.primary');
      transition: .25s ease;
      transform : scaleX(0);
    }

    @media(hover) {
      &:hover::before {
        transform: scaleX(1);
      }
    }
  }

  .btn {
    cursor: pointer;

    &:is(&-primary):is(&-fill) {
      color: theme('colors.l1');
    }
  }

  .title {
    font-size     : 56px;
    font-weight   : 600;
    font-family   : theme('fontFamily.alt');
    line-height   : calc(67.2 / 56);
    text-transform: uppercase;
  }
}

.header {
  --offset: 100px;

  display        : flex;
  align-items    : center;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  background     : theme('colors.l1 / 70%');


  height  : 72px;
  gap     : 44px;
  overflow: hidden;

  position: fixed;
  top     : 0;
  left    : 0;
  width   : 100%;
  z-index : theme('zIndex.2');

  // &::before {
  //   content        : '';
  //   position       : absolute;
  //   left           : 0;
  //   top            : 0;
  //   width          : 100%;
  //   height         : calc(100% + var(--offset));
  //   backdrop-filter: blur(20px);
  //   z-index        : -1;
  // }
}

.started {
  height     : 972px;
  display    : flex;
  align-items: flex-start;
  padding-top: 166px;

  &-content {
    padding-top: 90px;
  }

  &-title {
    font-size  : 62px;
    font-family: theme('fontFamily.alt');
    font-weight: 600;
    line-height: calc(74.4 / 62);
  }

  &-plate {
    margin-top : 108px;
    width      : 426px;
    padding    : 42px 46px;
    font-size  : 24px;
    font-weight: 500;
    background : linear-gradient(95deg, #3E2D3F 0%, #8D645C 98.17%);
    clip-path  : polygon(0 0, 100% 22px, calc(100% - 8px) calc(100% - 20px), 18px 100%);
  }

  &-image {
    position    : relative;
    width       : 684px;
    margin-left : auto;
    margin-right: -44px;

    &-rectangle {
      background: linear-gradient(95deg, #3E2D3F 0%, #8D645C 98%),
        linear-gradient(0deg, #3E2D3F, #3E2D3F);
      position: absolute;
      width   : 100%;
      height  : 100%;
      left    : 0;
      top     : 0;

      clip-path: polygon(0 calc(100% * 102 / 684), 100% 0, calc(100% - 100% * 28 / 684) 100%, calc(100% * 14 / 684) calc(100% - 100% * 94 / 684));
    }

    &-dude {
      position : absolute;
      max-width: none;
      right    : 72px;
      top      : -62px;
    }

    &-particle {
      position: absolute;

      &-1 {
        left: 30px;
        top : 117px;
      }

      &-2 {
        right: 60px;
        top  : -18px;
      }

      &-3 {
        right: 133px;
        top  : 135px;
      }

      &-4 {
        right : 68px;
        bottom: 77px;
      }
    }
  }
}

.products {
  padding-top   : 100px;
  padding-bottom: 40px;

  @media(min-width: 1920px) {
    --section-width: 1840px;
  }

  @media(max-width: 1920px) {
    padding-left : 40px;
    padding-right: 40px;
  }

  &-item {
    display       : flex;
    flex-direction: column;
    background    : theme('colors.l3');

    &-content {
      flex-grow     : 1;
      display       : flex;
      flex-direction: column;
      padding       : 32px;
    }
  }
}

.pack {
  padding-top   : 100px;
  padding-bottom: 100px;

  @media(min-width: 1920px) {
    --section-width: 1840px;
  }

  @media(max-width: 1920px) {
    padding-left : 40px;
    padding-right: 40px;
  }

  &-item {
    padding: 40px 32px;
    background:
      linear-gradient(180deg, theme('colors.default / 10%') 0%, theme('colors.default / 0%') 100%), theme('colors.l3');

  }
}

.client {
  padding-top   : 100px;
  padding-bottom: 100px;

  @media(min-width: 1920px) {
    --section-width: 1840px;
  }

  @media(max-width: 1920px) {
    padding-left : 40px;
    padding-right: 40px;
  }

  &-item {
    position: relative;

    &-shadow {
      position  : absolute;
      height    : 396px;
      width     : 100%;
      left      : 0;
      bottom    : 0;
      background: linear-gradient(360deg, #060201 0%, rgba(63, 44, 32, 0) 100%);

    }
  }
}

.project {
  padding-top   : 100px;
  padding-bottom: 200px;

  @media(min-width: 1920px) {
    --section-width: 1840px;
  }

  @media(max-width: 1920px) {
    padding-left : 40px;
    padding-right: 40px;
  }

  &-item {
    padding-top   : 40px;
    padding-bottom: 5px;
    background    :
      linear-gradient(180deg, theme('colors.default / 10%') 0%, theme('colors.default / 0%') 100%), theme('colors.l3');
    display       : flex;
    flex-direction: column;

    &-image {
      height         : 140px;
      display        : flex;
      align-items    : center;
      justify-content: center;
    }

    &-title {
      flex-grow      : 1;
      min-height     : 85px;
      display        : flex;
      align-items    : center;
      justify-content: center;
      text-align     : center;
      font-size      : 22px;
      line-height    : calc(26.4 / 22);
      opacity        : .4;
    }
  }
}