@import 'functions';

:root {
  /* theme colors */
  --primary-rgb : #{cl(#fff)};
  --orange-rgb  : #{cl(#E29384)};
  --purple-rgb  : #{cl(#3E2D3F)};
  --blue-rgb    : #{cl(#2173E5)};
  --red-rgb     : #{cl(#c0392b)};
  --green-rgb   : #{cl(#27ae60)};
  --yellow-rgb  : #{cl(#FECB29)};

  /* colors */
  --bg1-rgb     : #{cl(#151515)};
  --bg2-rgb     : #{cl(#1D1D1D)};
  --bg3-rgb     : #{cl(#1D1D1D)};
  --default-rgb : #{cl(#fff)};
  --white-rgb   : #{cl(#fff)};
  --black-rgb   : #{cl(#000)};


  /* easing */
  --elastic: cubic-bezier(0.34, 2, 0.64, 1);
}

::selection {
  background: theme('colors.default');
  color     : theme('colors.l3');
}


body {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  background    : theme('colors.l1');
  font-family   : theme('fontFamily.base');
  color         : theme('colors.default');

  &.menu-opened {
    overflow: hidden;
  }
}

@media (hover) {
  // temp

  .btn-white:hover,
  .btn-white:is(.btn-group:hover .btn),
  .btn-white:is(.btn-peer:hover~.btn) {
    --tw-btn-color: #fff;
  }
}

@layer components {
  .active-enabled:not(:is(:is(.toggle-active, .tab-active, .active) .active-enabled)) {
    display: none !important;
  }

  .active-disabled:is(:is(.toggle-active, .tab-active, .active) .active-disabled) {
    display: none !important;
  }

  .is-active-disabled:is(.toggle-active, .active) {
    display: none;
  }

  .is-active-enabled:not(:is(.toggle-active, .active)) {
    display: none;
  }

  .absolute-fit {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }

  .hover-underline {
    position: relative;

    &::before {
      content   : '';
      position  : absolute;
      top       : 100%;
      height    : 2px;
      left      : 0;
      width     : 100%;
      background: theme('colors.primary');
      transition: .25s ease;
      transform : scaleX(0);
    }

    @media(hover) {
      &:hover::before {
        transform: scaleX(1);
      }
    }
  }

  .btn {
    cursor: pointer;

    &:is(&-primary):is(&-fill) {
      color: theme('colors.l1');
    }

    &-contur {
      position  : relative;
      background: none !important;
      overflow  : hidden;

      &::before {
        content       : '';
        position      : absolute;
        inset         : 0;
        background    : var(--tw-btn-color);
        transform     : translateX(-100%);
        transition    : .25s ease;
        mix-blend-mode: difference;
      }

      @media(hover) {
        &:hover::before {
          transform: translateX(0%);
        }
      }
    }
  }

  .title {
    font-size     : 56px;
    font-weight   : 600;
    font-family   : theme('fontFamily.alt');
    line-height   : calc(67.2 / 56);
    text-transform: uppercase;

    @media (max-width: theme('screens.lg')) {
      font-size: 42px;
    }

    @media (max-width: theme('screens.sm')) {
      font-size: 32px;
    }
  }


  .input {
    background   : none;
    border       : none;
    border-bottom: 1px solid var(--tw-input-color);
    transition   : .2s ease;

    @media(hover) {
      &:hover {
        background: theme('colors.primary / 2%');
      }
    }

    &:focus {
      box-shadow: none;
      background: theme('colors.primary / 5%');
    }
  }
}

.header {
  --offset: 100px;

  display        : flex;
  align-items    : center;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  background     : theme('colors.l1 / 70%');


  height  : 72px;
  gap     : 44px;
  overflow: hidden;

  position: fixed;
  top     : 0;
  left    : 0;
  width   : 100%;
  z-index : theme('zIndex.2');

  @media (max-width: theme('screens.lg')) {
    gap: 16px;
  }

  @media (max-width: theme('screens.sm')) {
    height: 60px;
  }
}

.started {
  height     : 972px;
  display    : flex;
  align-items: flex-start;
  padding-top: 166px;
  overflow   : hidden;
  position   : relative;

  @media (max-width: theme('screens.lg')) {
    padding-top   : 100px;
    padding-bottom: 56px;
    flex-direction: column;
    height        : auto;
  }

  &-content {
    position: relative;
    z-index : 1;

    @media (min-width: theme('screens.lg')) {
      padding-top: 90px;
    }
  }

  &-title {
    font-size  : 62px;
    font-family: theme('fontFamily.alt');
    font-weight: 600;
    line-height: calc(74.4 / 62);

    @media (max-width: theme('screens.sm')) {
      font-size: calc(100vw * 48 / 375);

    }
  }

  &-plate {
    margin-top : 85px;
    width      : 350px;
    padding    : 32px 38px;
    font-size  : 20px;
    font-weight: 500;
    background : linear-gradient(95deg, #3E2D3F 0%, #8D645C 98.17%);
    clip-path  : polygon(0 0, 100% 22px, calc(100% - 8px) calc(100% - 20px), 18px 100%);

    @media (max-width: theme('screens.lg')) {
      margin-top: 32px;
    }

    @media (max-width: theme('screens.sm')) {
      margin-left : auto;
      margin-right: auto;
      width       : calc(100% * 298 / 345);
      font-size   : calc(100vw * 18 / 375);
      line-height : calc(25.6 / 20);
      padding     : calc(100vw * 32 / 375) calc(100vw * 28 / 375);
    }
  }

  &-image {
    position    : relative;
    width       : 684px;
    margin-left : auto;
    margin-right: -44px;

    @media (max-width: theme('screens.lg')) {
      margin     : 0;
      margin-left: 42px;
      margin-top : 80px;
      width      : calc(100% - 42px);
      max-width  : 400px;
    }

    @media (max-width: theme('screens.lg')) and (min-width: theme('screens.sm')) {
      margin-left  : auto;
      margin-top   : -120px;
      margin-bottom: -80px;
      z-index      : -1;
    }

    @media (max-width: theme('screens.sm')) {
      width      : calc(100vw * 306 / 375);
      margin-left: auto;
    }

    &-rectangle {
      background: linear-gradient(95deg, #3E2D3F 0%, #8D645C 98%),
        linear-gradient(0deg, #3E2D3F, #3E2D3F);
      position: absolute;
      width   : 100%;
      height  : 100%;
      left    : 0;
      top     : 0;

      clip-path: polygon(0 calc(100% * 102 / 684), 100% 0, calc(100% - 100% * 28 / 684) 100%, calc(100% * 14 / 684) calc(100% - 100% * 94 / 684));
    }

    &-dude {
      position : absolute;
      max-width: none;
      right    : calc(100% * 72 / 684);
      top      : calc(-1 * 100% * 62 / 684);
      width    : calc(100% * 708 / 684);
      height   : calc(100% * 766 / 684);
    }

    &-particle {
      position: absolute;

      &-1 {
        width : calc(100% * 115 / 684);
        height: calc(100% * 100 / 684);
        left  : calc(100% * 30 / 684);
        top   : calc(100% * 117 / 684);
      }

      &-2 {
        width : calc(100% * 88 / 684);
        height: calc(100% * 90 / 684);
        right : calc(100% * 60 / 684);
        top   : calc(100% * -18 / 684);
      }

      &-3 {
        width : calc(100% * 79 / 684);
        height: calc(100% * 78 / 684);
        right : calc(100% * 133 / 684);
        top   : calc(100% * 135 / 684);
      }

      &-4 {
        width : calc(100% * 55 / 684);
        height: calc(100% * 53 / 684);
        right : calc(100% * 68 / 684);
        bottom: calc(100% * 77 / 684);
      }
    }
  }

  &-circle {
    position: absolute;

    &-1 {
      width        : 963px;
      height       : 963px;
      border-radius: 50%;
      background   : #3E2D3F;
      filter       : blur(400px);
      opacity      : .4;
      left         : calc(-1 * 963px / 2);
      top          : calc(-1 * 963px / 2);
    }

    &-2 {
      width        : 640px;
      height       : 640px;
      border-radius: 50%;
      background   : #fff;
      filter       : blur(400px);
      opacity      : .4;
      right        : -140px;
      top          : -100px;
    }
  }
}

.products {
  padding-top   : 100px;
  padding-bottom: 40px;

  @media(min-width: 1920px) {
    --section-width: 1840px;
  }

  @media(max-width: 1920px) and (min-width: theme('screens.md')) {
    padding-left : 40px;
    padding-right: 40px;
  }

  @media (max-width: theme('screens.sm')) {
    padding-top   : 32px;
    padding-bottom: 32px;
  }

  &-item {
    display       : flex;
    flex-direction: column;
    background    : theme('colors.l3');

    &-content {
      flex-grow     : 1;
      display       : flex;
      flex-direction: column;
      padding       : 32px;

      @media (max-width: theme('screens.sm')) {
        padding: 16px;
      }
    }
  }
}

.pack {
  padding-top   : 100px;
  padding-bottom: 100px;

  @media(min-width: 1920px) {
    --section-width: 1840px;
  }

  @media(max-width: 1920px) and (min-width: theme('screens.md')) {
    padding-left : 40px;
    padding-right: 40px;
  }

  @media (max-width: theme('screens.sm')) {
    padding-top   : 32px;
    padding-bottom: 32px;
  }

  &-item {
    padding: 40px 32px;
    background:
      linear-gradient(130.22deg, rgba(141, 100, 92, 0.3) 0%, rgba(141, 100, 92, 0) 86.04%), theme('colors.l3');

    display       : flex;
    flex-direction: column;
    gap           : 48px;

    @media (max-width: theme('screens.md')) {
      flex-direction: row;
      align-items   : center;
      padding       : 32px 24px;
      gap           : 28px;
    }
  }
}

.client {
  padding-top   : 100px;
  padding-bottom: 100px;

  @media(min-width: 1920px) {
    --section-width: 1840px;
  }

  @media(max-width: 1920px) and (min-width: theme('screens.md')) {
    padding-left : 40px;
    padding-right: 40px;
  }

  @media (max-width: theme('screens.sm')) {
    padding-top   : 32px;
    padding-bottom: 32px;
  }

  &-item {
    position: relative;

    &-shadow {
      position  : absolute;
      height    : calc(100% * 396 / 550);
      width     : 100%;
      left      : 0;
      bottom    : 0;
      background: linear-gradient(360deg, #060201 0%, rgba(63, 44, 32, 0) 100%);

    }
  }
}

.project {
  padding-top   : 100px;
  padding-bottom: 200px;

  @media(min-width: 1920px) {
    --section-width: 1840px;
  }

  @media(max-width: 1920px) and (min-width: theme('screens.md')) {
    padding-left : 40px;
    padding-right: 40px;
  }

  @media (max-width: theme('screens.sm')) {
    padding-top   : 32px;
    padding-bottom: 32px;
  }

  &-item {
    padding-top   : 40px;
    padding-bottom: 5px;
    background    :
      linear-gradient(180deg, theme('colors.default / 10%') 0%, theme('colors.default / 0%') 100%), theme('colors.l3');
    display       : flex;
    flex-direction: column;

    &-image {
      height         : 140px;
      display        : flex;
      align-items    : center;
      justify-content: center;
    }

    &-title {
      flex-grow      : 1;
      min-height     : 85px;
      display        : flex;
      align-items    : center;
      justify-content: center;
      text-align     : center;
      font-size      : 22px;
      line-height    : calc(26.4 / 22);
      opacity        : .4;
    }
  }

  &-slider {
    .swiper-wrapper {
      @media (min-width: theme('screens.lg')) {
        display              : grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap                  : 24px;
        transform            : none !important;
        width                : 100% !important;
      }
    }
  }
}

.hover3d {
  &-wrap {
    transform      : perspective(1000px);
    transform-style: preserve-3d;

    * {
      pointer-events: none;
    }
  }

  &-target {
    transform-style: preserve-3d;
    will-change    : transform;
  }

  &-up {
    transform-style: preserve-3d;
    transform      : translateZ(50px);
  }
}

.pray {
  padding : 72px 0;
  position: relative;
  overflow: hidden;

  @media (max-width: theme('screens.md')) {
    padding-bottom: 60px;
    padding-top   : 290px;
  }

  &-image {
    position  : absolute;
    left      : 0;
    top       : 0;
    height    : 100%;
    width     : calc(100% * 875 / 1920);
    object-fit: cover;

    @media (max-width: theme('screens.md')) {
      width : calc(100% - 26px);
      height: calc(290px + 32px);
    }
  }

  &-form {
    width     : 726px;
    padding   : 42px 66px;
    background: theme('colors.l3');
    background:
      radial-gradient(at 0 0, theme('colors.default / 10%') 0%, theme('colors.default / 0%') 40%), theme('colors.l3');
    position: relative;

    left: calc(100% * 875 / 1920 - 56px);

    @media (max-width: theme('screens.md')) {
      width      : calc(100% - 15px);
      margin-left: 15px;
      left       : auto;
    }

    @media (max-width: theme('screens.sm')) {
      padding       : 24px;
      padding-bottom: 40px;
    }

  }
}

.footer {
  display       : flex;
  align-items   : center;
  padding-top   : 15px;
  padding-bottom: 15px;

  @media (max-width: theme('screens.md')) {
    flex-direction: column;
    text-align    : center;
    gap           : 24px;
  }
}

.footer-dev {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  border-top     : 1px solid theme('colors.default / 20%');
  padding-top    : 15px;
  padding-bottom : 15px;
}

.menu {
  position      : fixed;
  left          : 0;
  top           : 0;
  height        : 100%;
  overflow      : auto;
  width         : 400px;
  max-width     : 100%;
  z-index       : theme('zIndex.5');
  background    : theme('colors.l3');
  display       : flex;
  flex-direction: column;
  transition    : .25s ease;

  &:not(.toggle-active) {
    transform: translateX(-100%);
  }

  &-shadow {
    z-index   : calc(theme('zIndex.5') - 1);
    position  : fixed;
    inset     : 0;
    transition: .25s ease;
    background: rgba(0, 0, 0, 0.5);
  }

  &:not(.toggle-active)~&-shadow {
    opacity       : 0;
    visibility    : hidden;
    pointer-events: none;
  }
}

.dialog {
  max-width: 100%;
}

.dialog-form {
  width     : 758px;
  padding   : 42px 66px;
  background: theme('colors.l3');
  background:
    radial-gradient(at 0 0, theme('colors.default / 10%') 0%, theme('colors.default / 0%') 40%), theme('colors.l3');
  position: relative;



  @media (max-width: theme('screens.sm')) {
    padding       : 24px;
    padding-bottom: 40px;
  }
}

.dialog-policy {
  padding   : 32px;
  width     : 944px;
  background: theme('colors.l3');
}

[data-animation^="fade"] {
  opacity: 0;
}

.dialog-info {
  width      : 274px;
  display    : flex;
  align-items: center;

  flex-direction: column;
  background    :
    linear-gradient(180deg, theme('colors.default / 10%') 0%, theme('colors.default / 0%') 100%), theme('colors.l3');
  padding-top   : 38px;
  padding-bottom: 40px;
  text-align    : center;
}